<Context>
	<Realm className="org.apache.catalina.realm.MemoryRealm"/>
	<Valve  className="org.apache.catalina.valves.AccessLogValve"
                directory="/var/log/tomcat/"
                prefix="javadoc-index_access."
                rotatable="false"
                suffix="log" pattern="combined" />
</Context>